<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database - Hotel</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css2/styles-merged.css">
    <link rel="stylesheet" href="/stylesheets/css2/style.min.css">
    <link rel="stylesheet" href="/stylesheets/css2/custom.css">
    <link rel="stylesheet" href="/stylesheets/css2/review_css/review.css">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section style="padding: 2em 5rem;">
    <div class="container">
            <div class="col-md-10">
                <h1 class="probootstrap-heading probootstrap-animate" style="font-size: 2.6rem;">Information of room (<%= roominfo.ROOM_NUM%>)</h1>
                <form id=gotohell class="probootstrap-form">
                    <input type="hidden" id="roomnumxyz" value=<%=roominfo.ROOM_NUM%>>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Room_num">룸 타입</label>
                                <p class="form-control" style="border:0px; border-bottom: #903479 2px solid;"><%= roominfo.ROOM_TYPE%></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complain_type">객실 상태</label>
                                <div class="form-field">
                                    <i class="icon icon-mail"></i>
                                    <select id="yes_come_on" name="complain_type" class="form-control" style="border:0px; border-bottom: #903479 2px solid;">
                                        <option value="AVAILABLE">Available</option>
                                        <option value="CANNOT_USE">Cannot Use</option>
                                        <option value="CHECKOUT_DAY">Checkout Day</option>
                                        <option value="STAYING">Staying</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="priority">CheckIn</label>
                                <div class="form-field">
                                    <p id="priorityx" name="priorityx" class="form-control" style="border:0px; border-bottom: #903479 2px solid;">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="priority">CheckOut</label>
                                <div class="form-field">
                                    <p id="priorityx" name="priorityx" class="form-control" style="border:0px; border-bottom: #903479 2px solid;">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="priority">Complain</label>
                                <div class="form-field">
                                    <% for( var x of complainlist ){%>
                                        <p><%= x.DESCRIPTION+"\t" +x.TYPE+"\t"+x.START_TIME+"\t"+x.FIN_TIME+"\t"+x.PRIORITY+"\n"  %></p>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                            <div class="form-group" style="padding-left: 10%; padding-top: 13%;">
                                <input type="submit" class="btn btn-primary btn-lg" id="submit123" style="border-radius: 10px; float: right;">
                            </div>
                    </div>
                </form>
            </div>
<!--            <div class="col-md-3 text-center">-->
<!--                <br><br><br><br>-->
<!--                <p><a href="#" class="btn btn-primary" role="button" style="border-radius: 15px;">체크인(입실)</a></p>-->
<!--                <p><a href="#" class="btn btn-primary" role="button" style="border-radius: 15px;">체크아웃(퇴실)</a></p>-->
<!--                <p><a href="#" class="btn btn-primary" role="button" style="border-radius: 15px;">저장</a></p>-->
<!--            </div>-->
        </div>
</section>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>
<script src = "/socket.io/socket.io.js"></script>
<script>
    $("#gotohell").submit(function(e) {
        e.preventDefault();
        var socket_u = io();
        var $x = $("#roomnumxyz").val();
        var $y =$("#yes_come_on").val();
        socket_u.emit("changeroomstate",{
            roomnumx:$x.toString(),
            statex:$y.toString(),
        });
        console.log("qweqwewqeqweqwwqe\n\n\n\n");
    });
</script>


</body>
</html>